body{
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
}



#intend{
    font-weight: bold;
}


#button{
    border: 2px solid #fff ;
   width: 150px;
   height: 45px;
    border-radius: 15px;

}

#button:hover{
    background-color: #FFE4B5;
}

#hint{
    font-weight: bold;
}

/* @media(max-width:1200px){
    #mainButtons{
        width: 100%;
    }
    #hintBox{
        width: 100%;
        float: none;
    }
} */
